
body{
    font-family: 'Roboto', sans-serif;
    background:#EAECEE;
}
body i{
    color: #33495e;
    font-size: 2rem;
}

nav{
    height: 80px;
    width: 100%;
    background: #33495e;
}
label.navLogo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 40px;
    line-height: 80px;
}
nav .nav-List{
    float: right ;
    margin-right: 60px;
}

nav li{
    display: inline-block;
    margin: 0 7px;
    line-height: 80px;
}
nav a {
    color:white;
    font-size: 18px;
    text-transform: capitalize;
    border: 1px soli transparent ;
    padding: 7px 10px;
    border-radius: 3px;

}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size:30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.nav-postJob{
    font-size: 13px;
    font-weight: bold;
    background-color: #3498DB;
    margin-left: 20px;

    
 }  
 .nav-applyJob{
    font-size: 13px;
    font-weight: bold;
    background-color: #1ABC9C;
    margin-left: 30px;
}


@media screen and (max-width :740px) {
    nav #icon{
        display: block;
    }
    nav #show{
        margin-right: 10px;
        width: 50px;
        height: 35px;
    }
    nav #show:hover{
       border: 3px solid #3498DB;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul#menu{
        left: 0;     
    }
    .btnMenu1{
        width: 30%;  
    }
    .btnMenu2{
        width: 30%;     
    }
}
/* Main body content */
.applied-Jobs{
    padding: 20px;

}
.applied-job-menu {
    background-image: linear-gradient(to left, skyblue , pink);
    margin: 10px;
    padding: 5px;
}
.applied-job-menu .btn{
    background: white;
    color: black;
    font-weight: bold;
    width: 120px;
}
.applied-job-menu .btn.active{
    background: #33495e;
    border: 2px solid white;
    color: white;
    
}
.applied-Jobs-Deatils{
    padding: 30px;
    background: white;
}
.applied-Jobs-Deatils-info{
    border: 3px solid #CCFFFF;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}
.applied-Jobs-Deatils-info .btn{
    background: #33495e;
    color: white;
}
.applied-Jobs-Deatils-info .btn:hover{
    border: 2px solid #CCFFFF ;
}


.footer-Content{
    font-family: 'Roboto', sans-serif;
    background: #33495e;
    color: white;
    padding-left: 150px;
    padding-top: 20px;
    
}
