
body{
    font-family: 'Roboto', sans-serif;
    background:#D6DBDF  ;
}
body i{
    color:#33495e ;
    font-size: 2.1rem;
}

nav{
    height: 80px;
    width: 100%;
    background: #33495e;
}
label.navLogo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 40px;
    line-height: 80px;
}
nav .nav-List{
    float: right ;
    margin-right: 60px;
}

nav li{
    display: inline-block;
    margin: 0 7px;
    line-height: 80px;
}
nav a {
    color:white;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    border: 1px  transparent ;
    padding: 7px 10px;
    border-radius: 3px;

}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size:30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.nav-postJob{
    font-size: 13px;
    font-weight: bold;
    background-color: #3498DB;
    margin-left: 20px;

    
 }  
 .nav-applyJob{
    font-size: 13px;
    font-weight: bold;
    background-color: #1ABC9C;
    margin-left: 30px;
}


@media screen and (max-width :740px) {
    nav #icon{
        display: block;
    }
    nav #show{
        margin-right: 10px;
        width: 50px;
        height: 35px;
    }
    nav #show:hover{
       border: 3px solid #3498DB;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul#menu{
        left: 0;     
    }
    .btnMenu1{
        width: 30%;

       
    }
    .btnMenu2{
        width: 30%;
        
    }
}






/*main Body content */

.row{
    background: white;
}
.sign-upForm{
    padding: 20px 20px;
    background: white;
    font-family: 'Roboto', sans-serif;
}
.sign-upForm-Employer{
    display: flex; 
}
.sign-upForm-Employer input {

    margin: 10px 10px;
}
.sign-upForm-Employer select {

    margin: 10px 10px;
}
.sign-upForm a{
    margin-top: 20px;
    color: white;
    width: 150px;
    background: #33495e;
    transition: .5s;
    border: 2px solid lightskyblue;
}
.sign-upForm a:hover{
    color: white; 
}
.sign-upForm-Checkbox a{
    background: white;
    color:lightskyblue;
    border: none;
}

/*sidebar----*/

.sidebar-Heading{
    font-size: 3rem;
    font-weight: bold;
     font-family: 'Roboto', sans-serif;
    

}
.sidebar h3{
    font-family: 'Roboto', sans-serif;
   margin: 20px 0px;
}
.Sidebar-Content p{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
.sidebar-KnowMore{
    float: right;
    border: 1px solid silver;  
}
.sidebar a:hover{
    border: 2px solid white ;
    background-color: #33495e;
    color: white;
    font-size: 1.6rem;
}
/*footer-top */
.footer-Top {
    margin-top: 20px;
    height: 70px;
    border: 1px solid silver;
}
.footer-Tollfree{
    padding-top: 15px;
}
.footer-mail{
    padding-top: 15px;
}
.footer-Top p{
    font-size: 1.8rem;
    color:#33495e; 
}
.footer-Top i{
    font-size: 3rem;
    color:#33495e; 
    
}
.footer-Top select{
    width: 50%;
    margin-top: 15px;
    
}
.footer-socialmediaSymbol{
    display: flex;
}
.footer-socialmediaSymbol i{
    margin: 20px;
}